// eventPage colors

$blackColor: #000000;
$whiteColor: #ffffff;

$whiteBackground: #f7f7f7;

$accentColor1: #EE90D9;
$accentColor2: #03e3f3;

$blackTransparency: rgba($blackColor, .25);

// shadows
$shadow: 0px 2px 4px 0px rgba($blackColor, .25);
$containerShadow: 0px 3px 10px 0px rgba($blackColor, .2);