@import './colors.scss';

.adminMgmtForm {
    width: 100%;
    max-width: 33rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .fields_wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .field_container {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            label {
                margin: 0;
                font-weight: 700;
            }

            input {
                width: 100%;
                height: 3rem;
                border: solid 1px $blackTransparencyStrong;
                border-radius: 5px;
                font-size: 1rem;
                outline: none;
                padding-left: 1rem;

                &:focus {
                    border: solid 1px $accentColorPrimary;
                }
            }

            .input_container {
                position: relative;

                input {
                    width: 100%;
                    height: 3rem;
                    border: solid 1px $blackTransparencyStrong;
                    font-size: 1rem;
                    outline: none;

                    &:focus {
                        border: solid 1px $accentColorPrimary;
                    }
                }

                .validateIcon {
                    position: absolute;
                    right: 1rem;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $validColor;
                    font-size: .8rem;
                }
            }

            .error-message {
                margin: 0;
                color: $errorColor;
                font-size: .7rem;
                text-align: end;
            }

            .label_container {
                display: flex;
                flex-direction: column;

                .password-instruction {
                    margin: 0;
                    font-size: .7rem;
                    font-weight: 400;
                }
            }
        }
    }

    .adminMgmtForm-button {
        align-self: end;
    }       
}

.registration-result_message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    .text_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        p {
        margin: 0;
        }

        .succesIcon, .alertIcon {
            font-size: 1.3rem;
        }

        .successIcon {
            color: $validColor;
        }

        .alertIcon {
            color: $errorColor;
        }
    }
}