@import './colors.scss';

.backOffice {
    min-height: 100vh;
    background: $darkColor;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .formContainer {
        position: relative;
        z-index: 1;
    }
}