// dashboard colors

$blackColor: #000000;
$whiteColor: #ffffff;

$whiteBackground: #f7f7f7;
$darkColor: #17181f;

$accentColorPrimary: #A78AE4;
$accentColorPrimaryLighted: #b899fb;
$accentColorSecondary: #89949e;
$accentColorSecondaryLighted: #a8b4c0;

$errorColor: #ee1515;
$validColor: #62a762;