@import '@/assets/sass/breakPoints.scss';
@import './colors.scss';

.dashboardPage {
    background: $darkColor;
    min-height: 100vh;

    .page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .content-field {
            padding: 2rem 1rem 3rem 1rem;
            width: 100%;
            max-width: 72rem;
            position: relative;
        }
    }
}

@media screen and (min-width: $breakpointDesktop) {

    .dashboardPage {
        display: grid;
        grid-template-columns: min(25vw, 20rem) 1fr;

        .page-content {
            grid-column: 2 /-1;
            width: 100%;

            .content-field {
                padding: 3rem;
            }
        }
    } 
}