@import './colors.scss';
@import '@/assets/sass/variables.scss';
@import '@/assets/sass/breakPoints.scss';

.eventForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .inputs_wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .input-container {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            label {
                margin: 0;
                font-weight: 700;
            }

            input {
                width: 100%;
                height: 3rem;
                border: solid 1px $blackTransparencyStrong;
                border-radius: $containerRadiusS;
                font-size: 1rem;
                outline: none;

                &:focus {
                    background: transparent;
                    border: solid 1px $accentColorPrimary;
                }
            }

            .input-text {
                padding: 1rem;
            }

            .image-input {
                border: none;
                border-radius: unset;

                &::file-selector-button {
                    height: 2.5rem;
                    padding: 0 1rem;
                    margin-right: 1rem;
                    border: solid 1px $blackTransparencyStrong;
                    border-radius: $containerRadiusS;
                    background: transparent;
                    color: $blackColor;
                    cursor: pointer;

                    &:hover {
                        color: $accentColorPrimary;
                        border: solid 1px $accentColorPrimary;
                    }

                }

                &:focus {
                    border: none
                }
            }  
        }

        .imageInputAndPreview_container {

            .coverImagePreview_container {
                width: 100%;
                height: 100%;
            }

            .organizerLogoPreview_container {
                width: 50%;
                height: 50%;
            }

            .coverImagePreview_container, .organizerLogoPreview_container {
                display: inline-block;
                position: relative;
                overflow: hidden;
                border-radius: $containerRadiusS;
                box-shadow: $shadow;
                align-self: center;

                .coverImagePreview, .organizerLogoPreview {
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: relative;
                    object-fit: cover;
                }

                .removeIcon_container {
                    position: absolute;
                    top: .5rem;
                    right: .5rem;
                    z-index: 1;
                    width: 2rem;
                    height: 2rem;
                    background: $whiteColor;
                    color: $blackColor;
                    border-radius: 100%;
                    box-shadow: $shadow;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    &:hover {
                        background: $accentColorPrimary;
                        color: $whiteColor;
                    }
                }
            }
        }
    }

    .eventForm-buttons_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        gap: 1rem;
    }  
}

@media screen and (min-width: $breakpointDesktop) {

    .eventForm {  

        .inputs_wrapper {

            .imageInputAndPreview_container {

                .coverImagePreview_container {
                    width: 60%;
                    max-height: 17rem;
                }

                .organizerLogoPreview_container {
                    width: 40%;
                    max-height: 100%;
                }                  
            }
        }
    }
}

@media screen and (min-width: $breakpointLargeDesktop) {
        
    .eventForm {   
        width: 75%;
    }
}