@import './colors.scss';
@import '@/assets/sass/breakPoints.scss';
@import '@/assets/sass/variables.scss';

.formContainer {
    width: 90vw;
    padding: 1.5rem;
    background: $ultraWhiteColor;
    color: $blackColor;
    border: solid 1px rgba($ultraWhiteColor, .5);
    border-radius: $containerRadiusM;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .options {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;

        p {
            margin: 0;
            font-size: .8rem;
            font-weight: 700;
            opacity: .5;
            cursor: pointer;

            &:hover {
                opacity: 1;
                color: $lightColor;
            }
        }
    }

}

@media screen and (min-width: $breakpointDesktop) {
    
    .formContainer {
        width: 25rem;
        padding: 2rem;
    }
}