@import './colors.scss';
@import '@/assets/sass/breakPoints.scss';
@import '@/assets/sass/variables.scss';

.modal {
    background: $blackTransparencyStronger;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 999;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;

    .modal-content {
        width: 500px;
        background: $whiteColor;
        box-shadow: $shadow;
        border: solid 1px $blackTransparencyStronger;
        border-radius: $containerRadiusM;
        color: $darkColor;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 1rem;
        gap: 1rem;
        position: relative;

        .head-part {
            display: flex;
            align-items: center;
            gap: 1rem;

            .icon_container {
                background: rgba($errorColor, .15);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2rem;
                height: 2rem;
                border-radius: 100%;
                .icon {
                    color: $errorColor;
                    font-size: 1rem;
                }
            }

            p {
                margin: 0;
                font-size: 1rem;
                font-weight: 700;
                white-space: nowrap;
            }
             
        }

        .alertMessage {
            margin: 0;
            font-size: .95rem;
            text-align: left;
        }
        .buttons_container {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 1rem;
        }

        .closeIcon {
            position: absolute;
            top: .5rem;
            right: .5rem;
            font-size: 1.6rem;
            opacity: .5;
            cursor: pointer;

            &:hover {
                opacity: .8;
            }
        }
    }
}

@media screen and (min-width: $breakpointDesktop) {

    .modal {
        margin: unset;

        .head-part {

            .icon_container {
                width: 2.5rem;
                height: 2.5rem;
                
                .icon {
                    font-size: 1.5rem;
                }
            }

            p {
                font-size: 1.2rem;
            }

            .alertMessage {
                text-align: unset;
            }
                
        }
    }
}