*, 
*:before, 
*:after {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}
